= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= RubyApp::Elements::Mobile::Navigation::NavigationLink.render(:css)
= RubyApp::Elements::Mobile::Pages::Information::ConfigurationPage.render(:css)
= RubyApp::Elements::Mobile::Pages::Information::InformationList.render(:css)
= RubyApp::Elements::Mobile::Pages::Information::SessionsPage.render(:css)
= RubyApp::Elements::Mobile::Pages::Information::ScriptsPage.render(:css)
= yield
