= RubyApp::Elements::Mobile::Buttons::FacebookButton.render(:js)
= RubyApp::Elements::Mobile::Buttons::GoogleButton.render(:js)
= RubyApp::Elements::Mobile::Buttons::MyOpenIDButton.render(:js)
= RubyApp::Elements::Mobile::Buttons::YahooButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
