- self.content_for(:html, :page) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    = @back_button.render(:html)
    %h1
      Authentications
  %div{'data-role' => 'content'}
    %div{:style => 'margin: 0px auto 15px auto; text-align: center; width: 50%;'}
      - if RubyApp::Session.identity
        You are logged in as #{RubyApp::Session.identity.url}.
      - else
        You are not logged in.
    %div{'data-role' => 'controlgroup'}
      = @github_authentication_link.render(:html) do |element|
        - element.content_for(:html, :link, 'GitHub')
      = @facebook_authentication_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Facebook')
      = @google_authentication_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Google')
      = @my_open_id_authentication_link.render(:html) do |element|
        - element.content_for(:html, :link, 'myOpenID')
      = @yahoo_authentication_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Yahoo!')
      = @null_authentication_link.render(:html) do |element|
        - element.content_for(:html, :link, 'Null')
