= RubyApp::Elements::Mobile::Buttons::FacebookButton.render(:css)
= RubyApp::Elements::Mobile::Buttons::GoogleButton.render(:css)
= RubyApp::Elements::Mobile::Buttons::MyOpenIDButton.render(:css)
= RubyApp::Elements::Mobile::Buttons::YahooButton.render(:css)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= yield
