!!! 5
/
  #{__FILE__}
%html{self.attributes}
  %head
    %meta{'charset'   => 'UTF-8'}

    - self.metadata.each do |name, value|
      %meta{'name'    => name,
            'content' => value}
    - self.links.each do |name, value|
      %link{'rel'     => name,
            'href'    => value}
    - self.stylesheets.each do |stylesheet|
      %link{'rel'     => 'stylesheet',
            'href'    => stylesheet}
    %link{'rel'       => 'stylesheet',
          'href'      => "#{RubyApp::Application.root_or_nil}/#{RubyApp::Language.locale.code}/document.css"}
    - self.scripts.each do |script|
      %script{'src'   => script}
    %script{'src'     => "#{RubyApp::Application.root_or_nil}/#{RubyApp::Language.locale.code}/document.js"}

    %meta{'name'      => 'root',
          'content'   => RubyApp::Application.root}
    %meta{'name'      => 'session',        
          'content'   => RubyApp::Session.session_id}
    %meta{'name'      => 'locale',         
          'content'   => RubyApp::Language.locale.code}
    %meta{'name'      => 'error_message',  
          'content'   => RubyApp::Elements::Mobile::Document.translate.error_message}
    = yield :head
  %body
    - self.pages.reverse.each do |page|
      = page.render(:html)
    %div.overlay
    = yield :body
