/
  #{__FILE__}
%div.hash{self.attributes}
  - @data.each do |name, value|
    %div.node
      - if value.is_a?(Hash)
        %code
          #{name}: (Hash)
        = RubyApp::Elements::Mobile::Hash.new(value).render(:html)
      - elsif value.is_a?(Array)
        %code
          #{name}: (Array)
        - value.each do |item|
          %div.item
            %code
              \- #{item.inspect}
      - else
        %code
          #{name}: #{value.inspect}
