= RubyApp::Elements::Mobile::List::ListItem.render(:js)
= RubyApp::Elements::Mobile::List::ListDivider.render(:js)
= RubyApp::Elements::Mobile::List::ListSearch.render(:js)
= RubyApp::Elements::Mobile::List::ListSplitItem.render(:js)
= yield
