:plain
  // #{__FILE__}
  $(document).on('pageinit', function() {
    $('ul.list').listview('option', 'filterCallback', function() { return false; });
    $('form.ui-listview-filter input').each( function() {
      $(this).val($(this).parents('form.ui-listview-filter').next('ul.list').attr('data-search-value'));
    });
  });
  $(document).ready( function() {
    $(document).on('change', 'form.ui-listview-filter input', function(event) {
      event.preventDefault();
      var list = $(this).parents('form.ui-listview-filter').next('ul.list');
      var value = $(this).val();
      list.attr('data-search-value', value);
      RubyApp.sendEvent({_class:'RubyApp::Elements::Mobile::List::SearchedEvent', source:list.attr('id'), value:value});
    });
  });
= RubyApp::Elements::Mobile::List::ListItem.render(:js)
= RubyApp::Elements::Mobile::List::ListDivider.render(:js)
= RubyApp::Elements::Mobile::List::ListSplitItem.render(:js)
= yield
