/ 
  #{__FILE__}
%div.month{attributes}
  %table
    %thead
      %tr
        %td.left
          %a.previous{:href => ''}
            = RubyApp::Language.locale.strftime(self.display << 1, '%b')
        %td.center{:colspan => 5}
          = RubyApp::Language.locale.strftime(self.display, '%B %Y')
        %td.right
          %a.next{:href => ''}
            = RubyApp::Language.locale.strftime(self.display >> 1, '%b')
      - sunday = self.display_first_date
      %tr
        - (0..6).each do |index|
          - date = sunday + index
          %td= RubyApp::Language.locale.strftime(date, '%a')
    %tbody
      - month = self.display.month
      - sunday = self.display_first_date
      - while sunday < self.display_last_date
        %tr
          - (0..6).each do |index|
            - date = sunday + index
            - if date.month == month
              - if date == self.value
                %td.current
                  = date.day
              - elsif date == Date.today
                %td.today
                  %a.day{:href => '', :date => date.strftime}
                    = date.day
              - else
                %td.day
                  %a.day{:href => '', :date => date.strftime}
                    = date.day
            - else
              %td.none
                = date.day
        - sunday += 7
