= RubyApp::Elements::Mobile::Default::Features::Authentications::DefaultPage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::ButtonsPage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::Calendars::MonthPage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::DialogsPage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::InputsPage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::SwipePage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::TriggerPage.render(:js)
= RubyApp::Elements::Mobile::Default::Features::ListsPage.render(:js)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
