= RubyApp::Elements::Mobile::Default::Features::Authentications::DefaultPage.render(:css)
= RubyApp::Elements::Mobile::Default::Features::ButtonsPage.render(:css)
= RubyApp::Elements::Mobile::Default::Features::DialogsPage.render(:css)
= RubyApp::Elements::Mobile::Default::Features::InputsPage.render(:css)
= RubyApp::Elements::Mobile::Default::Features::TriggerPage.render(:css)
= RubyApp::Elements::Mobile::Default::Features::ListsPage.render(:css)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:css)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= yield
