= RubyApp::Elements::Mobile::Button.render(:js)
= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Mobile::Dialogs::ConfirmationDialog.render(:js)
= RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
