= RubyApp::Elements::Mobile::Button.render(:css)
= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:css)
= RubyApp::Elements::Mobile::Dialogs::ConfirmationDialog.render(:css)
= RubyApp::Elements::Mobile::Dialogs::ExceptionDialog.render(:css)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= yield
