= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:js)
= RubyApp::Elements::Mobile::Input.render(:js)
= RubyApp::Elements::Mobile::Inputs::DurationInput.render(:js)
= RubyApp::Elements::Mobile::Inputs::EmailInput.render(:js)
= RubyApp::Elements::Mobile::Inputs::MultilineInput.render(:js)
= RubyApp::Elements::Mobile::Inputs::ToggleInput.render(:js)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:js)
= yield
