= RubyApp::Elements::Mobile::Dialogs::AcknowledgementDialog.render(:css)
= RubyApp::Elements::Mobile::Input.render(:css)
= RubyApp::Elements::Mobile::Inputs::DurationInput.render(:css)
= RubyApp::Elements::Mobile::Inputs::EmailInput.render(:css)
= RubyApp::Elements::Mobile::Inputs::MultilineInput.render(:css)
= RubyApp::Elements::Mobile::Inputs::ToggleInput.render(:css)
= RubyApp::Elements::Mobile::Navigation::BackButton.render(:css)
= yield
