= RubyApp::Elements::Markdown.render(:js)
= RubyApp::Elements::Dialogs::BusyDialog.render(:js)
= RubyApp::Elements::Dialogs::ConfirmationDialog.render(:js)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:js)
= RubyApp::Elements::Dialogs::MessageDialog.render(:js)
= RubyApp::Elements::Dialogs::Calendars::MonthDialog.render(:js)
= yield
