= RubyApp::Elements::Markdown.render(:css)
= RubyApp::Elements::Dialogs::AcknowledgementDialog.render(:css)
= RubyApp::Elements::Dialogs::ConfirmationDialog.render(:css)
= RubyApp::Elements::Dialogs::ExceptionDialog.render(:css)
= RubyApp::Elements::Dialogs::MessageDialog.render(:css)
= RubyApp::Elements::Dialogs::Calendars::MonthDialog.render(:css)
= yield
