= RubyApp::Elements::Dialogs::MessageDialog.render(:js)
= RubyApp::Elements::Input.render(:js)
= RubyApp::Elements::Inputs::DurationInput.render(:js)
= RubyApp::Elements::Inputs::MultilineInput.render(:js)
= RubyApp::Elements::Inputs::ToggleInput.render(:js)
= RubyApp::Elements::Markdown.render(:js)
= yield
