- self.content_for(:content) do
  /
    #{__FILE__}
  = @markdown.render(:html) do |element|
    - element.content_for(:body, self.translate.content.body(RubyApp::Request.cookies['_cookie']))
  %ul
    %li#rendered
      = self.translate.rendered
    %li#loaded
      = self.translate.not_loaded
    %li#triggered
      = self.translate.not_triggered
    %li#unloaded
      = self.translate.not_unloaded
  %label{:for => @input.element_id}
    = self.translate.label.input
  = @input.render(:html)
