= RubyApp::Elements::Mobile::Default::Features::DefaultPage.render(:js)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:js)
= RubyApp::Elements::Mobile::Navigation::NavigationButton.render(:js)
= RubyApp::Elements::Mobile::Pages::InformationPage.render(:js)
= yield
