= RubyApp::Elements::Mobile::Default::Features::DefaultPage.render(:css)
= RubyApp::Elements::Mobile::Navigation::PageButton.render(:css)
= RubyApp::Elements::Mobile::Navigation::NavigationButton.render(:css)
= RubyApp::Elements::Mobile::Pages::InformationPage.render(:css)
= RubyApp::Elements::Mobile::Pages::ScriptsPage.render(:css)
= yield
