- self.content_for(:html, :title) do
  /
    #{__FILE__}
  = @title
- self.content_for(:html, :content) do
  /
    #{__FILE__}
  = @month.render(:html)
- self.content_for(:html, :footer) do
  /
    #{__FILE__}
  %div.buttons
    %div.left
      = @today.render(:html) do |element|
        - element.content_for(:html, :body, RubyApp::Elements::Dialogs::Calendars::MonthDialog.translate.today.body)
    %div.right
      = @cancel.render(:html) do |element|
        - element.content_for(:html, :body, RubyApp::Elements::Dialogs::Calendars::MonthDialog.translate.cancel.body)
