- self.content_for(:html, :body) do
  /
    #{__FILE__}
  %div.header
    %div.left
      = @breadcrumbs.render(:html)
    %div.center
      = self.translate.title
    %div.right
      - unless RubyApp::Session.pages.last.class == @settings.page
        = @settings.render(:html)
  %div.content
    = yield :content
