- self.content_for(:html, :dialog) do
  /
    #{__FILE__}
  %div{'data-role' => 'header'}
    %h1
      = RubyApp::Language.locale.strftime(@month.display, '%b %Y')
    = @today_link.render(:html) do |element|
      - element.content_for(:html, :link, RubyApp::Elements::Mobile::Dialogs::Calendars::MonthDialog.translate.today)
  %div{'data-role' => 'content'}
    = @month.render(:html)
    %div.buttons.ui-grid-a
      %div.ui-block-a
        = @previous_link.render(:html) do |element|
          - element.content_for(:html, :link, RubyApp::Language.locale.strftime(@month.display << 1, '%b'))
      %div.ui-block-b
        = @next_link.render(:html) do |element|
          - element.content_for(:html, :link, RubyApp::Language.locale.strftime(@month.display >> 1, '%b'))
