:sass
  /* #{__FILE__}
  div.dialog
    div.buttons
      div.ui-block-a
        text-align: left
      div.ui-block-b
        text-align: right
= RubyApp::Elements::Mobile::Button.render(:css)
= RubyApp::Elements::Mobile::Calendars::Month.render(:css)
= RubyApp::Elements::Mobile::Dialogs::ResponseDialog::CloseLink.render(:css)
= yield
